.popural__cover {
    max-width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
}

.popular__items {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.popular__text {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.city {
    font-size: 24px;
    font-weight: 600;
}

.icon {
    color: blue;
    font-size: 20px;
    margin-right: 5px;
}

.status {
    align-items: center;
    display: flex;

}

.title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.price {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}

@media screen and (max-width: 400px) {
    .popular__items {
        margin-right: 3px;
    }

    .popular__items {
        display: flex;
        align-items: center;
    }
}