.featured {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1020px;
    justify-content: space-between;
    gap: 20px;

}

.featured__container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    z-index: 1;
}

.featured__container:hover {
    cursor: pointer;
}

.featured__item {
    position: relative;
    background: white;
    border-radius: 5px;
}

.featured__img {
    width: 100%;
    object-fit: cover;
    max-width: 325px;
    height: 400px;
    border-radius: 5px;
}

.featured__title {
    position: absolute;
    left: 0;
    bottom: 43px;
    color: white;
    background: rgba(0, 0, 0, .5);
    width: 100%
}

.featured__title h1 {
    padding: 0 0 0 25px;
}