.resort__img {
    max-width: 190px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

.resort__type {
    font-size: 24px;
    font-weight: 600;
    padding: 0 10px;
    text-align: center;
}

.description {
    padding: 0 10px;
    font-weight: 400;
    text-align: center;
}



/* .resort__item {
    gap: 10px;
} */

.resort__item:not(:last-child) {
    margin-right: 15px;
}